{% extends 'app/layouts/default.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Begin Page Content -->
<div class="row justify-content-center h-100">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Authors</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">New Author</h6>
        </div>
        <div class="card-body">
                <div class="container">
                    <form action="{% url 'authors_store' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.gender|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.nationality|as_crispy_field }}
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}