{% extends 'app/layouts/default.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="row justify-content-center h-100">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Borrows</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <a href="{% url 'borrows_add' %}" class="btn btn-primary"
        >Add new</a
      >
    </div>
    <div class="card-body">
      {% comment %} {% if messages %}
       {% for message in messages %} 
       <p class="alert alert-success w-100 h-100">{{ message }} </p>
       {% endfor %}
      {% endif %} {% endcomment %}

      {% if messages %}
       {% for message in messages %} 
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="fas fa-alert mr-1"></i>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Id</th>
              <th>Borrower</th>
              <th> Book Title </th>
              <th> Category </th>
              <th> Starting Date </th>
              <th> Eding Date </th>
              <th> EDIT </th>
              <th>DELETE</th>
            </tr>
          </thead>
          <tbody>
            {% for borrow in borrows %}
            <tr>
              <td>{{ borrow.id }}</td>
              <td>{{ order.borrower.first_name}} {{ order.borrower.last_name}}</td>
              <td>{{ borrow.book.book_title}}</td>
              <td>{{ borrow.book.category.category_name }}</td>
              <td>{{ borrow.borrow_starting_date }}</td>
              <td>{{ borrow.borrow_ending_date }}</td>
              <td>
                <a
                  href="{% url 'borrows_edit' author.id %}"
                  class="btn btn-primary"
                  >Edit</a
                >
                </td>

                <td>
                <form
                  action="{% url 'borrows_delete' borrow.id %}"
                  method="post"
                >
                  {% csrf_token %}
                  <button
                    type="submit"
                    onclick="return confirm('Do you want really to delete this borrow ?')"
                    class="btn btn-danger"
                  >
                    Delete
                  </button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}