{% include 'app/partials/head.html' %}
{% block content %}

<div class="content-body">

  <div class="row page-titles mx-0">
    <div class="col p-md-0">
      <ol class="breadcrumb">
        <div></div>
      </ol>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Categories</h2>
            <div class="card-header py-3">
              <a href="{% url 'categories_index' %}" onClick="print()" class="btn btn-outline-primary">Print</a>
              <a href="{% url 'home' %} " 
                                onclick="return confirm('Do you want really to cancel this action?')"
                                type="submit" class="btn btn-outline-danger">Cancel  
                            </a>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered zero-configuration">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Category Name</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}
                  <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.category_name }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}