<!DOCTYPE html>
<html class="h-100" lang="en">

    {% include 'app/partials/head.html' %} {% load crispy_forms_tags %}

    {% include 'app/partials/head.html' %}

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                
                                    <a class="text-center" href="#"> <h4>Create an Account!</h4></a>
        
                                <form class="mt-5 mb-5 login-input user" action="{% url 'admins_store' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{form.first_name|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{form.last_name|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{form.email|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{form.username|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{form.password1|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{form.password2|as_crispy_field}}
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Register</button>
                                </form>
                                    <p class="mt-5 login-form__footer">Have account <a href="page-login.html" class="text-primary">Sign Up </a> now</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    

    <!--**********************************
        Scripts
    ***********************************-->
    {% load static %}
    <script src="{% static 'app/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'app/js/custom.min.js' %}"></script>
    <script src="{% static 'app/js/settings.js' %}"></script>
    <script src="{% static 'app/js/gleek.js' %}"></script>
    <script src="{% static 'app/js/styleSwitcher.js' %}"></script>
</body>
</html>





